
body{
	margin: 0px;
    background: url(../img/back.png) repeat;
}

#logoEquipo{
    margin: 25px auto;
}
.header{
	text-align: center;
}
.header div{
	position: relative;
	margin: auto;
	top: 50%;
}
h1{
	color:blue;
}
.img-responsive{
	max-width: 100%;
}
.chart{
    width: 400px
    height: 120px
}

.titulo{
    text-align: center;
    font-size: 54px;
    font-size: 54px;
}